<!-- Head-->
<head th:replace="~{layout :: head}">...</head>

<!-- Navbar -->
<div th:replace="~{layout :: navbar}"></div>

<!-- Bootstrap layout -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">

            <!-- User information -->
            <div th:replace="~{layout :: userinfo}"></div>

            <!-- Bootstrap layout -->
        </div>
        <div class="col-md-9">

            <!-- Make a new post form -->
            <div th:replace="~{layout :: newpost}"></div>

            <!-- For each post in posts -->
            <div id="posts">
                <div th:each="post : ${feedPosts}" class="post card mt-3">
                    <div th:replace="~{layout :: post}"></div>
                </div>
            </div>

        </div>
    </div>
    <footer th:replace="~{layout :: footer}"></footer>
    </body>