<!-- Head-->
<!DOCTYPE html>
<div th:fragment="head">
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Social Network</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
    </head>
    <body>
</div>


<!-- Navigation bar -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" xmlns:th="http://www.w3.org/1999/xhtml">
        <a class="navbar-brand" th:href="@{/}">Social Network</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/home}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Users</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/{username}(username=${sessionUser.getUsername()})}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>

    </nav>
</div>

<!-- User information -->
<div th:fragment="userinfo" class="card">
    <img th:if="${user.getProfileImage() != null}" th:src="@{'/images/' + ${user.getProfileImage().getId()}}"
         alt="Profile Picture"/>
    <img th:href="@{/{username}(username=${user.getUsername()})}" th:unless="${user.getProfileImage() != null}"
         th:src="@{/images/default}" alt="Default Profile Picture"/>
    <div class="card-body">
        <div th:if="${user.getName() != null}">
            <h4 style="font-weight: bold;" th:text="${user.getName()}">Name</h4>
        </div>
        <a th:href="@{/{username}(username=${user.getUsername()})}">
            <h5 th:text="'@' + ${user.getUsername()}" class="card-title user-link">Username</h5>
        </a>
        <p th:text="${user.getBiography()}" class="card-text">this is a biography</p>
        <div class="followers">
            <a th:href="@{/{username}/followers(username=${user.getUsername()})}" class="card-link">Followers</a>
            <span th:text="${user.getFollowers().size()}" class="count">1000</span>
        </div>
        <div class="following">
            <a th:href="@{/{username}/following(username=${user.getUsername()})}" class="card-link">Following</a>
            <span th:text="${user.getFollowing().size()}" class="count">500</span>
        </div>
        <div class="likes">
            <a th:href="@{/{username}/likes(username=${user.getUsername()})}" class="card-link">Likes</a>
            <span th:text="${user.getLikes().size()}" class="count">500</span>
        </div>
    </div>
</div>


<!-- Make a new post form -->
<div th:fragment="newpost" class="card">
    <div class="card-body">
        <form id="newpost-form" method="POST" action="/create-post" th:object="${post}">
            <div class="form-group">
                <textarea name="content" field="*{content}" class="form-control" rows="3"
                          placeholder="What's on your mind?"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>

<!-- Post -->
<div th:fragment="post" class="card-body">
    <div class="row">
        <!-- Profile picture -->
        <div class="col-auto pr-0">
            <a th:href="@{/{username}(username=${post.getUser().getUsername()})}">
                <img th:if="${post.getUser().getProfileImage() != null}"
                     th:src="@{'/images/' + ${post.getUser().getProfileImage().getId()}}" width="50"
                     alt="Profile Picture"/>
                <img th:unless="${post.getUser().getProfileImage() != null}" th:src="@{/images/default}"
                     width="50" alt="Default Profile Picture"/>
            </a>
        </div>
        <div class="col">
            <div class="d-flex justify-content-between">
                <!-- Post content -->
                <div class="post-content ml-2">
                    <a th:href="@{/{username}(username=${post.getUser().getUsername()})}">
                        <h5 th:text="${post.getUser().getUsername()}" class="card-title user-link">Username</h5>
                    </a>
                    <p th:text="${post.getContent()}" class="card-text">This is a post</p>
                </div>
                <!-- 3-dot menu -->
                <div class="dropdown">
                    <div th:unless="${currentPath.contains('post') && post.getUser().getUsername() != sessionUser.getUsername()}">
                        <button class="btn" style="background-color:transparent" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">⋮
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <div th:if="${!currentPath.contains('post')}">
                                <a th:href="@{/post/{postId}(postId=${post.getId()})}" class="dropdown-item">View
                                    post</a>
                            </div>
                            <div th:if="${post.getUser().getUsername() == sessionUser.getUsername()}">
                                <form method="post"
                                      th:action="@{/post/{postId}/delete(postId=${post.getId()})}">
                                    <button class="dropdown-item" type="submit">Delete post</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mt-2 d-flex" style="display:inline-flex">
                <!-- Like button -->
                <div th:if="${!post.isLikedBy(sessionUser)}">
                    <form method="post" th:action="@{/like/{postId}(postId=${post.getId()})}">
                        <input type="hidden" name="referer" th:value="${currentPath}">
                        <button class="btn btn-sm" style="background-color: transparent"
                                type="submit">
                            <i class="fa fa-heart-o"></i>
                        </button>
                    </form>
                </div>
                <div th:if="${post.isLikedBy(sessionUser)}">
                    <form method="post" th:action="@{/unlike/{postId}(postId=${post.getId()})}">
                        <input type="hidden" name="referer" th:value="${currentPath}">
                        <button class="btn btn-sm" style="background-color: transparent"
                                type="submit">
                            <i class="fa fa-heart"></i>
                        </button>
                    </form>
                </div>
                <!-- Like number -->
                <div th:if="${post.getLikes() != null}">
                    <div th:if="${post.getLikes().size() == 1}">
                                        <span th:text="${post.getLikes().size()} + ' like'"
                                              style="font-weight: bold;"></span>
                    </div>
                    <div th:if="${post.getLikes().size() != 1}">
                                        <span th:text="${post.getLikes().size()} + ' likes'"
                                              style="font-weight: bold;"></span>
                    </div>
                </div>
                <div th:if="${post.getLikes() == null}">
                    <span style="font-weight: bold;">0 likes</span>
                </div>
                <!-- Created at -->
                <div class="ml-auto mr-4">
                    <span th:text="${post.getCreatedAt().format(formatterHour)}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:fragment="footer" class="footer">
    <div class="container">
        <span class="text-muted">© 2023 Social Network, Erick Gonçalves</span>
    </div>
</footer>
</html>