<!-- Head-->
<head th:replace="~{layout :: head}">...</head>

<!-- Navbar -->
<div th:replace="~{layout :: navbar}"></div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div th:if="${currentPath.contains('following')}">
                <h2 class="text-center mt-3">Following</h2>
                <div th:if="${users.isEmpty()}">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">You don't follow anyone</h5>
                            <a th:href="@{/users}" class="btn btn-primary btn-sm mt-2">View All Users</a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${currentPath.contains('followers')}">
                <h2 class="text-center mt-3">Followers</h2>
                <div th:if="${users.isEmpty()}">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">You don't have any followers</h5>
                            <a th:href="@{/users}" class="btn btn-primary btn-sm mt-2">View All Users</a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${currentPath.contains('users')}">
                <h2 class="text-center mt-3">Users</h2>
            </div>
            <div th:if="${(currentPath.contains('followers') && !users.isEmpty())
            || (currentPath.contains('following') && !users.isEmpty())
            || (currentPath.contains('users') && !users.isEmpty())}">
                <div class="list-group mt-3">
                    <!-- For each user in users -->
                    <div th:each="user: ${users}">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto pr-0">
                                        <img th:if="${user.getProfileImage() != null}" th:src="@{'/images/' + ${user.getProfileImage().getId()}}" width="50" alt="Profile Picture"/>
                                        <img th:unless="${user.getProfileImage() != null}" th:src="@{/images/default}" width="50" alt="Default Profile Picture"/>
                                    </div>
                                    <div class="col d-flex align-items-start justify-content-between">
                                        <div>
                                            <h5 th:text="${user.getUsername()}" class="card-title mb-0">Username</h5>
                                            <p th:text="${user.getBiography()}">Here goes the biography</p>
                                            <div class="d-flex justify-content-between">
                                                <p class="m-3"><span th:text="${user.getPosts().size()}">0</span> Posts</p>
                                                <p class="m-3"><span th:text="${user.getLikes().size()}">0</span> Likes</p>
                                            </div>
                                        </div>
                                        <a th:href="@{/{username}(username=${user.getUsername()})}" class="btn btn-primary btn-sm">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>







                    <!--                        <div class="card mb-3">-->
<!--                            <div class="card-body">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-auto pr-0">-->
<!--                                        <img th:if="${user.getProfileImage() != null}"-->
<!--                                             th:src="@{'/images/' + ${user.getProfileImage().getId()}}"-->
<!--                                             width="50" alt="Profile Picture"/>-->
<!--                                        <img th:unless="${user.getProfileImage() != null}"-->
<!--                                             th:src="@{/images/default}" width="50" alt="Default Profile Picture"/>-->
<!--                                    </div>-->
<!--                                    <div class="col d-flex align-items-center">-->
<!--                                        <div>-->
<!--                                            <h5 th:text="${user.getUsername()}"-->
<!--                                                class="card-title mb-0">Username</h5>-->
<!--                                            <p th:text="${user.getBiography()}">Here goes the biography</p>-->
<!--                                            <div class="d-flex justify-content-between">-->
<!--                                                <p class="m-3"><span th:text="${user.getPosts().size()}">0</span> Posts-->
<!--                                                </p>-->
<!--                                                <p class="m-3"><span th:text="${user.getLikes().size()}">0</span> Likes-->
<!--                                                </p>-->
<!--                                                <a th:href="@{/{username}(username=${user.getUsername()})}"-->
<!--                                                   class="btn btn-primary btn-sm">View Profile</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!-- End for each user in users -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>